
body {
	background-color: yellow;
}

#container {
  width: 1140px;
  height: auto;
  background-color: yellow;
    margin-left: auto ;
  margin-right: auto;
}

#clipboard {
   
  background: url(board.jpg) no-repeat;
  background-size: 1140px;
  height: 1450px ;

  margin-left: auto ;
  margin-right: auto;
  background-position: center;

}


#mobile-viewers {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

